*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #F2EaE2;
    /* border: 5px solid black; */
    padding: 20em;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    max-width: 700px;
    border: 5px solid white;
    border-radius: 10px;
    padding: 0;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
}

.product-image {
    /* border: 2px solid black; */
    /* position: relative; */
    /* overflow: hidden; */
    /* object-fit: cover; */
    margin: 0 auto;
    padding: 0 auto;
}

.perfume-picture {
    /* border: 2px solid black; */
    width: 100%;
    /* object-fit: cover; */
    /* height: 110%; */
    transform: scale(1.2);
    /* margin: -10%; */
    /* padding: -20%; */
    /* overflow: auto; */
    /* position: absolute; */
    
}

.product-details {
    width: 100%;
    /* border: 2px solid black; */
    padding-left: 3em;
}

.product {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    color: #6C7289;
    padding-top: 2em;
    /* border: 2px solid black; */
}

.perfume-name {
    font-family: 'Fraunces', serif;
    /* border: 2px solid black; */
    line-height: 32px;

} 

.product-description {
    font-family: 'Montserrat', sans-serif;
    color: #6C7289;
    line-height: 23px;
    /* border: 2px solid black; */
}

.product-discounted-price {
    display: flex;
    font-family: 'Fraunces', serif;
    color: #3d8168;
    font-size: 32px;
    /* border: 2px solid black; */
}

.product-original-price {
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    color: #6C7289;
    font-size: 13px;
    text-decoration: line-through;
    padding-left: 2em;
    /* border: 2px solid black; */
}

.button-parent-container {
    display: flex;
    justify-content: center;
    margin-right: 2em;
}

.button-container {
    display: flex;
    cursor: pointer;
    width: 100%;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
    background-color: #3d8168;
    border-radius: 8px;
    border-color: white;
    box-shadow: none;
    padding: 1em 1.5em 1em 0em;
}

.cart-icon {
    width: 15px;
    margin-left: 6.5em;
}

.button-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #FFFF;
    margin-left: 1em;
}




